<h1>details</h1>

{{!-- {{#each article}} --}}

<div>

  <h3>title :</h3> {{article.title}}<br>
  <h3>description:</h3> {{article.description}}<br>
  <h3>article id:</h3> {{article._id}}<br>
  <h3>markdown :</h3> {{article.slug}}
</div>
  {{!-- {{/each}} --}}